div.wy-side-nav-search {
    /* left side bar */
    background: #fcd411;
}
a.icon.icon-home {
    /* title */
    color: #404040;
}
div.wy-menu-vertical span.caption-text {
    color: #fcd411;
}

.wy-menu-vertical a.reference.internal:active {
    background: #fcd411;
    color: #404040;
}
